:root {
  --Dark-cyan: hsl(185, 75%, 39%);
  --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --Dark-grayish-blue: hsl(227, 10%, 46%);

  --Dark-gray: hsl(0, 0%, 59%);
}

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}
 

body {
  font-family:'Kumbh Sans' sans-serif ;
  font-size: 15px;
}


.container {
  margin-top: 75px;
  margin-left: 35px;
  border: solid 1px black;
  border-radius: 10px;
  overflow: hidden;
width: 300px;

}



.imgcontainer {
  padding-left: 20px;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.person {
  padding-left: 80px;
}
.imgcontainer img {
  border-radius: 50%;
  margin-top: -50px;
}
.info {
  
  margin-top: 15px;
  padding-bottom: 15px;
}

.stats  {
  padding: 50px 5px 15px 5px ;
  border-top: solid 1px lightgray;
}
