:root {
  --Dark-cyan: hsl(185, 75%, 39%);
  --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --Dark-grayish-blue: hsl(227, 10%, 46%);

  --Dark-gray: hsl(0, 0%, 59%);
}

* {
  margin: 0;
  padding: 0;
}

body {
  back
}

.container {
  margin: 50px 75px;
  border: solid 1px black;
  border-radius: 10px;
  overflow: hidden;
width: 350px;

}

.imgcontainer {
  padding-left: 20px;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.person {
  padding-left: 100px;
}
.imgcontainer img {
  border-radius: 50%;
  margin-top: -50px;
}
.info {
  margin-top: 15px;
  padding-bottom: 15px;
}
