:root {
  --Dark-cyan: hsl(185, 75%, 39%);
  --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --Dark-grayish-blue: hsl(227, 10%, 46%);

  --Dark-gray: hsl(0, 0%, 59%);
}

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
  
  margin: 0;
  padding: 0;
}
 

body {
  position:relative;
  display: flex;
  height: 100vh;
  width: 100vw;
 justify-content: center;

  font-size: 15px;
  background-color: var(--Dark-cyan);
  background-image: url(/images/bg-pattern-top.svg), url(/images/bg-pattern-bottom.svg);
/* background-position: top -50%  left -5vw , bottom -75vh right -5vw; */
background-repeat: no-repeat  ;
background-position: bottom 50vh right 50vw, top 40vh left 50vw ;

}



.container {

  margin-top: 20vh;
  font-family: 'kumbh sans' ,sans-serif;
  font-weight: 400;
height: 367px;
  flex-shrink: 0;
  
  border: none;
  border-radius: 10px;
  overflow: hidden;
width: 300px;
background-color: white;

}



.imgcontainer {
  padding-left: 20px;
}


.person {
  padding-left: 80px;
}
.imgcontainer img {
  box-shadow: 0 0 0 4px white;
  border-radius: 50%;
  margin-top: -50px;
}
.info {

  display:flex;
  flex-direction: column;
 text-align: center;
 margin-right: 75px; 
  margin-top: 15px; 
   padding-bottom: 15px;
}
.info span {
  color: gray;
}



.stats  {
  display: flex;
  justify-content: space-evenly;
  padding: 50px 5px 15px   0px ;
  border-top: solid 1px lightgray;
}

.stats span {
  color: gray;
}
.stats div p  {
  font-weight: 700;
}


.attribution { display: block;
  font-size: 11px;
  text-align: center;
  padding-top: 10px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

